html, body{
    height: 100%;
}
body{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}

.wrapper{
    /* min-width: 100%;
    min-height: 100%; */
    position: relative;
    /* overflow-x: auto; */
    /* background-image: url(../assets/images/map_realistic.png);
    background-size: 200%;
    background-repeat: no-repeat; */
}
.left{
    width: 30%;
    height: 100vh;
    background-color: cadetblue;
    position: fixed;
    top: 20px;
    left: 20px;
    display: none;
}
.panel {
    width: calc(100%-20px);
    margin: 0 10px;
    background-color: brown;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.panel_list {
    width: 30%;
    min-height: 100vh;
    background-color: chartreuse;
}
.panel_choice {
    width: 50%;
    min-height: 300px;
    background-color: white;
}
.panel_choice-item {
    margin-bottom: 20px;
    background-color: chocolate;
}
/* общий стиль для контейнера иконки */
.icon_layer-box{
    position: absolute;
    /* overflow: hidden; */
    height: 32px;
    width: 32px;
    transform: translate(-50%, -50%);
}
/* контроль размера картинки внутри блока иконки */
.icon_layer-box > img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 0px rgb(46, 46, 46);
    border: 2px solid #000;
    position: relative;
}
.popup {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 350px;
    background-color: #c7c7c7;
    padding: 12px;
    border-radius: 8px;
    /* display: none; */
    transform: translate(-130vw, -220vh);
}
.popup.popup_active{
    /* display: block; */
    transform: translate(14px, 14px);
    /* transition: cubic-bezier(0.165, 0.84, 0.44, 1); */
    opacity: 1;
}
.popup.popup_side.popup_active{
    transform: translate(-360px, -330px);
}
.popup h3{
    margin-bottom: 12px;
}
.popup p{
    margin-bottom: 12px;
}
.popup_gallery {
    display: flex;
    min-height: 165px;
    flex-direction: column;
    gap: 6px;
}
.popup_gallery img{
    width: 100%;
    border-radius: 6px;
}
/* .slick-current.slick-active{
    width: 100%;
    min-height: 165px;
} */
/* .slick-list .slick-slide.slick-current.slick-active{
    width: 326px !important;
    height: 165px;
} */
/* .slick-track{
    transform: translate3d(-163px, 0, 0) !important;
} */
.slick-arrow{
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    width: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slick-prev{
    z-index: 1000;
    left: -24px;
}
.slick-next{
    right: -24px;
}
/* координаты отдельного контейнера с иконкой */
.position_box-airport{
    top: 118px;
    left: 1008px;
}
.position_box-subway-mont{
    top: 310px;
    left: 588px;
}
.position_box-subway-cala{
    top: 1118px;
    left: 1787px;
}
.position_box-subway-fern{
    top: 1996px;
    left: 1344px;
}
.position_box-art-gallery{
    top: 1196px;
    left: 1934px;
}
.position_box-florist{
    top: 2050px;
    left: 1372px;
}
.position_box-apartment-buildings-fern-1{
    top: 1996px;
    left: 1262px;
}
.position_box-apartment-buildings-fern-2{
    top: 1938px;
    left: 1347px;
}
.position_box-apartment-buildings-fern-3{
    top: 2046px;
    left: 1338px;
}
.position_box-apartment-buildings-mont-1{
    top: 248px;
    left: 500px;
}
.position_box-apartment-buildings-mont-2{
    top: 510px;
    left: 602px;
}
.position_box-apartment-buildings-mont-3{
    top: 506px;
    left: 662px;
}
.position_box-apartment-buildings-mont-4{
    top: 433px;
    left: 561px;
}
.position_box-apartment-buildings-mont-5{
    top: 262px;
    left: 588px;
}
.position_box-apartment-buildings-mont-6{
    top: 456px;
    left: 580px;
}
.position_box-apartment-buildings-chester{
    top: 660px;
    left: 910px;
}
.position_box-apartment-buildings-cala-1{
    top: 1136px;
    left: 1922px; 
}
.position_box-apartment-buildings-cala-2{
    top: 1064px;
    left: 1766px; 
}
.position_box-apartment-buildings-cala-3{
    top: 1186px;
    left: 1738px; 
}
.position_box-apartment-buildings-cala-4{
    top: 1138px;
    left: 1868px; 
}
.position_box-bank-cala-1{
    top: 1074px;
    left: 1802px; 
}
.position_box-bank-fern{
    top: 2046px;
    left: 1286px;
}
.position_box-bank-mont{
    top: 256px;
    left: 572px;
}
.position_box-gas-station-chester{
    top: 710px;
    left: 872px;
}
.position_box-gas-station-fern{
    top: 1912px;
    left: 1386px;
}
.position_box-gas-station-cala{
    top: 1244px;
    left: 1798px; 
}
.position_box-boat-shop{
    top: 570px;
    left: 456px;
}
.position_box-car-repair{
    top: 218px;
    left: 566px;
}
.position_box-farm{
    top: 802px;
    left: 720px;
}
.position_box-old-guns-shop{
    top: 1906px;
    left: 1348px;   
}
.position_box-resource-trader{
    top: 336px;
    left: 484px;
}
.position_box-gun-shop{
    top: 1078px;
    left: 2026px;
}
.position_box-outdoors-cala{
    top: 1040px;
    left: 2026px;
}
.position_box-outdoors-fern{
    top: 2068px;
    left: 1392px;
}
.position_box-outdoors-mont{
    top: 314px;
    left: 494px;
}
.position_box-electronic-shop{
    top: 1040px;
    left: 2050px;
}
.position_box-weed-florist{
    top: 1022px;
    left: 2088px;
}
.position_box-weed-florist{
    top: 1022px;
    left: 2088px;
}
.position_box-cloths-cool-mall{
    top: 1078px;
    left: 2088px;
}
.position_box-cloths-cool-mont{
    top: 486px;
    left: 648px;
}
.position_box-cloths-mont{
    top: 424px;
    left: 586px;
}
.position_box-fast-food-mall{
    top: 1106px;
    left: 2052px;
}
.position_box-grocery-mall{
    top: 1126px;
    left: 2106px;
}
.position_box-grocery-mont{
    top: 220px;
    left: 500px;
}
.position_box-pd-station-mall{
    top: 1130px;
    left: 2034px;
}
.position_box-cloths{
    top: 1078px;
    left: 2052px;
}
.position_box-forniture-mall{
    top: 1156px;
    left: 2052px;
}
.position_box-forniture-fern{
    top: 1996px;
    left: 1244px;
}
.position_box-bank-mall{
    top: 1156px;
    left: 2092px;
}
.position_box-hospital-mall{
    top: 1186px;
    left: 2092px;
}
.position_box-car-shop{
    top: 1190px;
    left: 2040px;
}
.position_box-mansion-cala-1{
    top: 1318px;
    left: 2086px;
}
.position_box-mansion-cala-2{
    top: 1318px;
    left: 2004px;
}
.position_box-mansion-cala-3{
    top: 1276px;
    left: 1934px;
}
.position_box-mansion-big-sur-1{
    top: 1364px;
    left: 570px;
}
.position_box-mansion-big-sur-2{
    top: 1535px;
    left: 560px;
}
.position_box-mansion-la-palma-1{
    top: 1986px;
    left: 674px;
}
.position_box-mansion-la-palma-2{
    top: 2082px;
    left: 694px;
}
.position_box-mansion-la-palma-3{
    top: 1916px;
    left: 776px;
}
.position_box-mansion-la-palma-4{
    top: 1993px;
    left: 798px;
}
.position_box-mansion-la-palma-5{
    top: 2089px;
    left: 814px;
}
.position_box-cafe-cala-1{
    top: 1236px;
    left: 1853px;
}
.position_box-cafe-cala-2{
    top: 1112px;
    left: 1728px;
}
.position_box-cafe-mont-1{
    top: 304px;
    left: 540px;
}
.position_box-cafe-mont-2{
    top: 444px;
    left: 536px;
}
.position_box-cafe-rockwall{
    top: 1292px;
    left: 774px;
}
.position_box-cafe-big-sur{
    top: 1432px;
    left: 708px;
}
.position_box-cafe-big-sur-beach{
    top: 1346px;
    left: 520px;
}
.position_box-cafe-la-palma{
    top: 2044px;
    left: 844px;
}
.position_box-hospital-cala{
    top: 1060px;
    left: 1850px;
}
.position_box-hospital-mont{
    top: 450px;
    left: 596px;
}
.position_box-garage-cala{
    top: 1020px;
    left: 1853px;
}
.position_box-garage-fern-1{
    top: 2126px;
    left: 1240px;
}
.position_box-garage-fern-2{
    top: 2044px;
    left: 1447px;
}
.position_box-garage-fern-3{
    top: 1973px;
    left: 1400px;
}
.position_box-garage-fern-4{
    top: 1918px;
    left: 1406px;
}
.position_box-garage-mont{
    top: 284px;
    left: 498px;
}
.position_box-garage-airport{
    top: 230px;
    left: 908px;
}
.position_box-garage-industrial{
    top: 136px;
    left: 1587px;
}
.position_box-school{
    top: 980px;
    left: 1840px;
}
.position_box-pd-station-cala{
    top: 928px;
    left: 1904px;
}
.position_box-pd-station-fern{
    top: 2122px;
    left: 1342px;
}
.position_box-pd-station-mont{
    top: 360px;
    left: 550px;
}
.position_box-pd-station-forest{
    top: 410px;
    left: 2042px;
}
.position_box-townhall{
    top: 988px;
    left: 1921px;
}
.position_box-prodef{
    top: 298px;
    left: 1576px;
}
.position_box-hangar-island-1{
    top: 928px;
    left: 276px;
}
.position_box-hangar-island-2{
    top: 910px;
    left: 246px;
}
.position_box-hangar-island-3{
    top: 853px;
    left: 280px;
}
.position_box-hangar-island-4{
    top: 836px;
    left: 250px;
}
.position_box-hangar-island-5{
    top: 820px;
    left: 222px;
}
.position_box-yacht-1{
    top: 653px;
    left: 54px;
}
.position_box-yacht-2{
    top: 928px;
    left: 526px;
}
.position_box-yacht-3{
    top: 1453px;
    left: 340px;
}
.position_box-yacht-4{
    top: 2088px;
    left: 422px;
}
.position_box-hangar-1{
    top: 1418px;
    left: 1403px;
}
.position_box-hangar-2{
    top: 1418px;
    left: 1436px;
}
.position_box-hangar-3{
    top: 1418px;
    left: 1470px;
}
.position_box-hangar-4{
    top: 28px;
    left: 1008px;
}
.position_box-hangar-5{
    top: 28px;
    left: 965px;
}
.position_box-hangar-6{
    top: 28px;
    left: 922px;
}
.position_box-hangar-7{
    top: 28px;
    left: 879px;
}
.position_box-hangar-8{
    top: 28px;
    left: 836px;
}
.position_box-hangar-9{
    top: 28px;
    left: 793px;
}
.position_box-mansion-island-1{
    top: 1040px;
    left: 142px;
}
.position_box-mansion-island-2{
    top: 1018px;
    left: 248px;
}
.position_box-mansion-island-3{
    top: 1016px;
    left: 372px;
}
.position_box-mansion-island-4{
    top: 1114px;
    left: 287px;
}
.position_box-mansion-island-5{
    top: 1316px;
    left: 124px;
}
.position_box-mansion-island-6{
    top: 1516px;
    left: 180px;
}
.position_oil-rig{
    top: 1932px;
    left: 164px;
}
.position_box-cafe-island{
    top: 1052px;
    left: 412px;
}
.position_box-cocaine{
    top: 912px;
    left: 150px;
}
.position_box-greenhouse-1{
    top: 762px;
    left: 1214px;
}
.position_box-greenhouse-2{
    top: 786px;
    left: 1245px;
}
.position_box-greenhouse-3{
    top: 777px;
    left: 1284px;
}
.position_box-greenhouse-4{
    top: 818px;
    left: 1268px;
}
.position_box-greenhouse-5{
    top: 806px;
    left: 1320px;
}
.position_box-greenhouse-6{
    top: 848px;
    left: 1292px;
}
.position_box-apartment-mont-beach{
    top: 696px;
    left: 614px;
}
.position_box-apartment-cala-river-1{
    top: 1116px;
    left: 1334px;
}
.position_box-apartment-cala-river-2{
    top: 1134px;
    left: 1348px;
}
.position_box-apartment-lumberjack-1{
    top: 1980px;
    left: 1994px;
}
/* .popup_side.position_box-apartment-lumberjack-1{
    transform: translate(-359px, -329px);
} */
.position_box-apartment-lumberjack-2{
    top: 1986px;
    left: 1968px;
}
/* .popup_side.position_box-apartment-lumberjack-2{
    transform: translate(-359px, -329px);
} */
.position_chemicals{
    top: 422px;
    left: 291px;
}
.position_box-hardware-shop-mall{
    top: 1050px;
    left: 2088px;
}
.position_box-hardware-shop-fern{
    top: 1956px;
    left: 1346px;  
}
.position_box-mechanic{
    top: 1134px;
    left: 1822px;
}
.position_box-fast-food-fern{
    top: 2014px;
    left: 1394px;
}
.position_box-fast-food-chester{
    top: 682px;
    left: 952px;
}
.position_box-lumberjack{
    top: 1870px;
    left: 1824px;
}
.position_box-mine-1{
    top: 728px;
    left: 1738px;
}
.position_box-mine-2{
    top: 944px;
    left: 1240px;
}
.position_box-smelter{
    top: 164px;
    left: 1740px;
}
.position_box-miner{
    top: 710px;
    left: 1752px;
}
.position_box-2-story-house-elm-1{
    top: 1648px;
    left: 1522px;
}
.position_box-1-story-house-elm-2{
    top: 1686px;
    left: 1544px;
}
.position_box-1-story-house-elm-3{
    top: 1726px;
    left: 1532px;
}
.position_box-1-story-house-elm-4{
    top: 1746px;
    left: 1496px;
}
.position_box-1-story-house-elm-5{
    top: 1734px;
    left: 1460px;
}
.position_box-1-story-house-elm-6{
    top: 1696px;
    left: 1436px;
}
.position_box-1-story-house-elm-7{
    top: 1660px;
    left: 1446px;
}
.position_box-1-story-house-tower-lumberjack{
    top: 1878px;
    left: 1634px;
}
.position_box-2-story-house-lumberjack{
    top: 1856px;
    left: 1858px;
}
.position_box-1-story-house-lumberjack{
    top: 1826px;
    left: 1828px;
}
.position_box-1-story-house-hills-1{
    top: 1832px;
    left: 950px;
}
.position_box-1-story-house-hills-2{
    top: 1830px;
    left: 1020px;
}
.position_box-1-story-house-hills-3{
    top: 1796px;
    left: 934px;
}
.position_box-2-story-house-hills-4{
    top: 1790px;
    left: 1016px;
}
.position_box-2-story-house-hills-5{
    top: 1754px;
    left: 920px;
}
.position_box-1-story-house-hills-6{
    top: 1746px;
    left: 994px;
}
.position_box-1-story-house-hills-7{
    top: 1716px;
    left: 902px;
}
.position_box-1-story-house-hills-8{
    top: 1714px;
    left: 966px;
}
.position_box-1-story-house-rockwall-1{
    top: 1460px;
    left: 932px;
}
.position_box-1-story-house-rockwall-2{
    top: 1464px;
    left: 994px;
}
.position_box-2-story-house-rockwall-3{
    top: 1424px;
    left: 974px;
}
.position_box-1-story-house-rockwall-4{
    top: 1428px;
    left: 904px;
}
.position_box-1-story-house-rockwall-5{
    top: 1390px;
    left: 948px;
}
.position_box-1-story-house-rockwall-6{
    top: 1378px;
    left: 870px;
}
.position_box-2-story-house-rockwall-7{
    top: 1346px;
    left: 918px;
}
.position_box-1-story-house-rockwall-8{
    top: 1324px;
    left: 858px;
}
.position_box-1-story-house-rockwall-9{
    top: 1300px;
    left: 914px;
}
.position_box-1-story-house-rockwall-10{
    top: 1276px;
    left: 858px;
}
.position_box-1-story-house-rockwall-11{
    top: 1254px;
    left: 914px;
}
.position_box-1-story-house-rockwall-12{
    top: 1226px;
    left: 1012px;
}
.position_box-apartment-mountains{
    top: 556px;
    left: 1378px;
}
.position_box-1-story-house-belmont{
    top: 800px;
    left: 1614px;
}
.position_box-1-story-house-big-sur-1{
    top: 1458px;
    left: 618px;
}
.position_box-1-story-house-big-sur-2{
    top: 1420px;
    left: 640px;
}
.position_box-1-story-house-big-sur-beach-1{
    top: 1262px;
    left: 614px;
}
.position_box-apartment-big-sur-beach{
    top: 1290px;
    left: 574px;
}
.position_box-drug-lab{
    top: 1194px;
    left: 1106px;
}
.position_box-2-story-house-belmont-1{
    top: 966px;
    left: 1336px;
}
.position_box-1-story-house-belmont-2{
    top: 932px;
    left: 1382px;
}
.position_box-1-story-house-belmont-3{
    top: 994px;
    left: 1374px;
}
.position_box-2-story-house-belmont-4{
    top: 954px;
    left: 1422px;
}
.position_box-1-story-house-belmont-5{
    top: 1016px;
    left: 1412px;
}
.position_box-1-story-house-belmont-6{
    top: 968px;
    left: 1462px;
}
.position_box-1-story-house-belmont-7{
    top: 1024px;
    left: 1450px;
}
.position_box-2-story-house-morgan-1{
    top: 438px;
    left: 1022px;
}
.position_box-2-story-house-morgan-2{
    top: 495px;
    left: 1080px;
}
.position_box-2-story-house-morgan-3{
    top: 398px;
    left: 1064px;
}
.position_box-2-story-house-morgan-4{
    top: 454px;
    left: 1120px;
}
.position_box-2-story-house-morgan-5{
    top: 358px;
    left: 1100px;
}
.position_box-2-story-house-morgan-6{
    top: 416px;
    left: 1159px;
}
.position_box-2-story-house-morgan-7{
    top: 318px;
    left: 1140px;
}
.position_box-2-story-house-morgan-8{
    top: 374px;
    left: 1198px;
}
.position_box-apartment-mont-1{
    top: 374px;
    left: 710px;
}
.position_box-apartment-mont-2{
    top: 332px;
    left: 688px;
}
.position_box-apartment-mont-3{
    top: 444px;
    left: 694px;
}
.position_box-apartment-docks-1{
    top: 318px;
    left: 452px;
}
.position_box-apartment-docks-2{
    top: 424px;
    left: 492px;
}
.position_box-apartment-docks-3{
    top: 514px;
    left: 430px;
}
.position_box-apartment-trainyard-1{
    top: 1558px;
    left: 1868px;
}
.position_box-apartment-trainyard-2{
    top: 1462px;
    left: 1818px;
}
.position_box-apartment-fern-road{
    top: 1676px;
    left: 1322px;
}
.position_box-farmhouse-1{
    top: 290px;
    left: 450px;
}
.position_box-farmhouse-2{
    top: 338px;
    left: 446px;
}
.position_box-farmhouse-3{
    top: 356px;
    left: 452px;
}
.position_box-farmhouse-4{
    top: 496px;
    left: 552px;
}
.position_box-farmhouse-5{
    top: 530px;
    left: 564px;
}
.position_box-shop-mont-1{
    top: 244px;
    left: 518px;
}
.position_box-shop-mont-2{
    top: 188px;
    left: 502px;
}
.position_box-shop-mont-3{
    top: 152px;
    left: 556px;
}
.position_box-shop-mont-4{
    top: 154px;
    left: 600px;
}
.position_box-shop-mont-5{
    top: 192px;
    left: 626px;
}
.position_box-shop-mont-6{
    top: 218px;
    left: 636px;
}
.position_box-shop-mont-7{
    top: 240px;
    left: 646px;
}
.position_box-shop-mont-8{
    top: 308px;
    left: 518px;
}
.position_box-shop-mont-9{
    top: 358px;
    left: 494px;
}
.position_box-shop-mont-10{
    top: 380px;
    left: 502px;
}
.position_box-shop-mont-11{
    top: 462px;
    left: 562px;
}
.position_box-shop-mont-12{
    top: 274px;
    left: 572px;
}
.position_box-shop-beach{
    top: 60px;
    left: 262px;
}
.position_box-garbage-bin-mont{
    top: 530px;
    left: 668px;
}
.position_box-1-story-house-mont-beach-1{
    top: 802px;
    left: 598px;
    }
.position_box-1-story-house-mont-beach-2{
    top: 1540px;
    left: 494px;
}
.position_box-1-story-house-mont-beach-3{
    top: 1772px;
    left: 514px;
}
.position_box-1-story-house-mont-beach-4{
    top: 1990px;
    left: 584px;
}
.position_box-meth{
    top: 1490px;
    left: 1862px;
}
.position_box-shop-cala-1{
    top: 1164px;
    left: 1812px;
}
.position_box-shop-cala-2{
    top: 1186px;
    left: 1806px;
}
.position_box-shop-cala-3{
    top: 1186px;
    left: 1824px;
}
.position_box-shop-cala-4{
    top: 1082px;
    left: 1766px; 
}
.position_box-garbage-bin-cala-1{
    top: 1074px;
    left: 1740px;
}
.position_box-garbage-bin-cala-2{
    top: 1074px;
    left: 1866px;
}
.position_box-garbage-bin-lumberjack{
    top: 1882px;
    left: 1872px;
}
.position_box-garbage-bin-fern{
    top: 1878px;
    left: 1392px;
}
.position_box-shop-fern-1{
    top: 1972px;
    left: 1346px;
}
.position_box-shop-fern-2{
    top: 2094px;
    left: 1448px;
}
.popup_side{
    transform: translate(-200vw, -200vh);
}
